# https://editorconfig.org/
# https://spec.editorconfig.org/
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties
# https://neovim.io/doc/user/plugins.html#editorconfig
# https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 100
tab_width = 8
trim_trailing_whitespace = true

[*.md]
indent_size = 2

[*.{{js,ts}{,x},mjs,json*}]
indent_size = 2

[*.{html,css}]
indent_size = 2

[*.lua]
indent_size = 2

[*.y{,a}ml]
indent_size = 2

[Makefile]
indent_style = tab

[**.git/*]
max_line_length = 72
