[submodule "vim/pathogen"]
	path = vim/pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "vim/bundle/vaxe"]
	path = vim/bundle/vaxe
	url = git@github.com:jdonaldson/vaxe
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible
[submodule "vim/monokai"]
	path = vim/monokai
	url = git@github.com:jonasmalacofilho/vim-monokai
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule "vim/bundle/loremipsum"]
	path = vim/bundle/loremipsum
	url = git@github.com:vim-scripts/loremipsum.git
[submodule "vim/bundle/vim-lengthmatters"]
	path = vim/bundle/vim-lengthmatters
	url = git@github.com:whatyouhide/vim-lengthmatters.git
[submodule "vim/bundle/vim-eunuch"]
	path = vim/bundle/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
