[submodule "vim/pathogen"]
	path = vim/pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "vim/bundle/vaxe"]
	path = vim/bundle/vaxe
	url = git@github.com:jonasmalacofilho/vaxe
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible
[submodule "vim/monokai"]
	path = vim/monokai
	url = git@github.com:jonasmalacofilho/vim-monokai
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule "vim/bundle/loremipsum"]
	path = vim/bundle/loremipsum
	url = git@github.com:vim-scripts/loremipsum.git
[submodule "vim/bundle/vim-eunuch"]
	path = vim/bundle/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "vim/bundle/vim-bufferline"]
	path = vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/bundle/vim-multipe-cursors"]
	path = vim/bundle/vim-multipe-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
