[submodule "vim/pathogen"]
	path = vim/pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "vim/bundle/vaxe"]
	path = vim/bundle/vaxe
	url = git@github.com:jdonaldson/vaxe
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible
[submodule "vim/monokai"]
	path = vim/monokai
	url = git@github.com:sickill/vim-monokai
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
