[Unit]
Description=liquidctl automatic configuration

[Service]
Type=simple
Environment=EXTRAOPTIONS="--hid hidraw"
ExecStart=/usr/local/bin/liquidcfg

[Install]
WantedBy=default.target

