[Unit]
Description=Static liquidctl configuration

[Service]
Type=oneshot
ExecStart=/usr/local/bin/liquidcfg --verbose
ExecStart=/usr/bin/sleep 10
ExecStart=/usr/bin/liquidctl status

[Install]
WantedBy=default.target
